.text-style{
    color: green;
    letter-spacing: 10px;
    word-spacing: 15px;
    text-decoration: line-through;
    text-align: justify;
    font-size: 40px;
    font-family: "roboto";
    
    }
    @font-face {
        font-family: 'roboto';
        src: url('./Font/RobotoCondensed-Regular.ttf');
    }
    a{
        color: blue;
    }
    a:link{
        color: aqua;
    }
    a:visited{
        color: black;
    }
    a:hover{
        color: brown;
    }
    a:active{
        color: azure;
    }
    td, th{
        border: 1px solid;
    }
    .slider-paragraph{background-color:aqua; font-size: 50PX;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:aqua;
            padding:  20px;}
            table tbody>tr:nth-child(odd)
            {
                background-color: darkgoldenrod;
            }
            div{
                width: 200px;
                height: 200px;
                background-color: lightslategrey;
                overflow: scroll;
            }